<tr>
  <td><%= day.temperature %></td>
  <td><%= format_price(day.milk_price) %></td>
  <td><%= format_price(day.sugar_price) %></td>
  <td><%= day.ice_creams_made %></td>
  <td><%= format_price(day.ice_cream_price) %></td>
  <td><%= day.ice_creams_sold %></td>
  <td><%= format_price(day.profit) %></td>
</tr>