<tr>
  <td>
    <% if game.over? %>
      <%= game.name %>
    <% else %>
      <%= link_to(game.name, game_path(game)) %>
    <% end %>
  </td>
  <td class="right-aligned">
    <%= game.inventory&.balance %>
  </td>
  <td class="right-aligned">
    <%= game.total_profit %>
  </td>
  <td>
    <%= link_to 'Delete', game_path(game), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
