<h2>New Game</h2>

<% if @game.errors.any? %>
  <ul class='error-list'>
    <%= render partial: 'error', collection: @game.errors.full_messages %>
  </ul>
<% end %>

<%= form_with model: @game do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit 'Create Game' %>
<% end %>
