<h2>New Game</h2>

<% if @game.errors.any? %>
  <ul>
    <%= render partial: 'shared/error', collection: @game.errors.full_messages %>
  </ul>

<% end %>

<%= form_with model: @game, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit 'Create Game' %>
<% end %>

<div class='back-link'>
  <%= link_to 'Back to Games List', games_path %>
</div>