<h1><%= @game.name %></h1>

<p><%= link_to('New Day', new_game_day_path(@game), class: 'button') %> <%= link_to('Delete Game', game_path(@game), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button') %></p>

<%= render partial: 'inventory' %>

<% if @game.previous_day.present? %>
  <div class="day-summary">
    <p>You made <%= pluralize(@game.previous_day.ice_creams_made, 'ice cream') %>. The temperature was <%= @game.previous_day.temperature %>&deg;C. You sold <%= pluralize(@game.previous_day.ice_creams_sold, 'ice cream') %> for $<%= format_price(@game.previous_day.ice_cream_price) %> each. You made a <%= profit_description(@game.previous_day.profit) %> of $<%= format_price(@game.previous_day.profit) %>.</p>
    <p>You have made a total <%= profit_description(@game.total_profit) %> of $<%= format_price(@game.total_profit) %>.</p>
  </div>
<% end %>

<% if @game.days.present? %>
  <table class="day-history">
    <thead>
      <tr>
        <th>Temperature (&deg;C)</th>
        <th>Milk Price ($)</th>
        <th>Sugar Price ($)</th>
        <th>Ice Creams Made</th>
        <th>Ice Cream Price ($)</th>
        <th>Ice Creams Sold</th>
        <th>Profit ($)</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'day', collection: @game.days %>
    </tbody>
  </table>
<% end %>

<div class='back-link'>
  <%= link_to('Back to Games List', games_path) %>
</div>