<h2><%= @game.name %></h2>

<p><%= link_to('Back to Games List', games_path) %></p>

<dl>
  <dt>Balance</dt>
  <dd>$<%= format_price(@game.inventory.balance) %></dd>

  <dt>Milk</dt>
  <dd><%= @game.inventory.milk %></dd>

  <dt>Sugar</dt>
  <dd><%= @game.inventory.sugar %></dd>
</dl>

<p><%= link_to('New Day', new_game_day_path(@game)) %></p>

<% if @game.previous_day.present? %>
  <p>You made <%= pluralize(@game.previous_day.ice_creams_made, 'ice cream') %>. You sold <%= pluralize(@game.previous_day.ice_creams_sold, 'ice cream') %> for $<%= format_price(@game.previous_day.ice_cream_price) %> each. You made a <%= @game.previous_day.profit.positive? ? 'profit' : 'loss' %> of <%= format_price(@game.previous_day.profit) %>.</p>
<% end %>